<ion-content campContent>
  <div class="campaign">
    <img src="assets/imgs/compaignsnew.png">
  </div>
  <h2 padding>Campaigns</h2>
  <ion-slides [options]="slideOpts">
    <ion-slide>
        <ion-card>
            <img src="assets/imgs/cardBack.jpg"/>
            <ion-card-content class="color1">
              <ion-card-title>
               Title Campaign
                </ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col size='5'>
                     <div class="cardLogo">
                       <img src="../../assets/imgs/logo.png">
                     </div>
                  </ion-col>
                  <ion-col size='7'> 
                  <ion-button (click)="details()">details</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
   
     </ion-slide>     
     <ion-slide>
      <ion-card>
          <img src="assets/imgs/cardBack.jpg"/>
          <ion-card-content class="color3">
            <ion-card-title>
             Title Campaign
              </ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col size='5'>
                   <div class="cardLogo">
                     <img src="../../assets/imgs/logo.png">
                   </div>
                </ion-col>
                <ion-col size='7'> 
                <ion-button (click)="details()">details</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
 
   </ion-slide>     
   <ion-slide>
    <ion-card>
        <img src="assets/imgs/cardBack.jpg"/>
        <ion-card-content class="color2">
          <ion-card-title>
           Title Campaign
            </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col size='5'>
                 <div class="cardLogo">
                   <img src="../../assets/imgs/logo.png">
                 </div>
              </ion-col>
              <ion-col size='7'> 
              <ion-button (click)="details()">details</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

 </ion-slide>     
 <ion-slide>
  <ion-card>
      <img src="assets/imgs/cardBack.jpg"/>
      <ion-card-content class="color3">
        <ion-card-title>
         Title Campaign
          </ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size='5'>
               <div class="cardLogo">
                 <img src="../../assets/imgs/logo.png">
               </div>
            </ion-col>
            <ion-col size='7'> 
            <ion-button (click)="details()">details</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-slide>     
<ion-slide>
  <ion-card>
      <img src="assets/imgs/cardBack.jpg"/>
      <ion-card-content class="color1">
        <ion-card-title>
         Title Campaign
          </ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size='5'>
               <div class="cardLogo">
                 <img src="../../assets/imgs/logo.png">
               </div>
            </ion-col>
            <ion-col size='7'> 
            <ion-button (click)="details()">details</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-slide>     
  </ion-slides>
</ion-content>
