<ion-content>
  <div class="mainCard">
    <img src="assets/imgs/cardBack.jpg">
  </div>
  <div class="crossOver">
    <ion-grid>
      <ion-row>
        <ion-col size='3'>
          <div class="logoImg">
            <img src="assets/imgs/logo.png">
          </div>
        </ion-col>
        <ion-col size='7' offset='2'>
          <p>Step 1 : Apply for your kit</p>
           <div class="likes">
              <span>12</span>
            <ion-icon name="heart-empty"></ion-icon>
           </div>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>Rules</h3>
              <p class="rule-detail">lorem ipsum lorem ipsum lorem ipsum 
                  lorem ipsum lorem ipsum lorem ipsum
                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  lorem ipsum</p>
                  <hr>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h3>Details</h3>
                <p class="rule-detail">lorem ipsum lorem ipsum lorem ipsum 
                    lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum</p>
                 <p class="rule-detail">lorem ipsum lorem ipsum lorem ipsum 
                        lorem ipsum lorem ipsum lorem ipsum
                       </p>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-button (click)='YesNo()'>Start Mission</ion-button>
            </ion-row>
          </ion-grid>
          </div>
</ion-content>
