<ion-content class="yesNo">
  <ion-grid padding>
    <ion-row>
      <ion-col size='3'>
          <div class="logoImg">
              <img src="assets/imgs/logo.png">
            </div>
      </ion-col>
      <ion-col size='3' offset='6'>
        <p class="question-num">8 / 8</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="question-detail"> 
        <p class="detail-title">CONGRATS : </p>
        <P class="inner-detail">you have successfully completed
          the all missions
           </P>
      </ion-col>
    </ion-row>
      <!-- changing -->
       <ion-row>
         <div class="congrats">
           <img src="../../assets/imgs/party.png">
         </div>
       </ion-row>
  </ion-grid>
  
  <div class="final-abs">
      <ion-button class="right-button" (click)='next()'>FINISH</ion-button>
  </div>
</ion-content>
